.scoring button {
    margin: 5px 15px 0px 0px;
    padding: 5px;
}

.UI_Contain h2 {
    margin: 5px 10px 5px 10px
}

.UI_Contain {
    margin-left: 10px;
}

.UI_Contain button {
    margin: 5px;
}

.UI_Contain input {
    margin: 5px;
}

.flexing {
    display: flex;
    flex-direction: row;
}