@import url("https://use.typekit.net/qjx6azk.css");

.singlecontain {
  max-width: 100vw;
  max-height: 100vh;

  /* Set initial position to top of the screen */
  transform: translateY(-100%);
  /* Set transition for smooth animation */
  transition: transform 1s ease-in-out;
}

/* Add a class to trigger the animation */
.slide-in {
  /* Move to the original position (0%) */
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translatey(-100%);
  }

  to {
    transform: translatey(0);
  }
}

.singleoverlay {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "futura-pt", sans-serif;
  font-weight: 800;

}

.singleoverlay h1 {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.gamer {
  display: flex;
  align-items: center;
  border: black solid 3px;
  background-color: #5EAE33;
  color: white;
}

.gamer h1 {
  font-size: larger;
}

.tag {
  width: 53%;
}

.score {
  width: 10%;
  padding: 11px 0px;
  text-align: center;
  height: fit-content;
  color: black;
  background-color: yellow;
  border-left: black solid 3px;
}

.pronoun {
  width: 17%;
  text-align: center;
  font-size: x-large;
}

h4 {
  margin: 0;
  text-align: center;
}

.diamond-shape {
  background: yellow;
  height: 124px;
  text-align: center;
  transform:rotate(45deg);
	width:128px;
  border: black solid 3px;
}
.item-count {
  color: #333;
  display: table-cell;
  height: 128px;
  transform: rotate(-45deg);
  vertical-align: middle;
	width:128px;
}

.gamers {
  width: 40%;
  margin-left: -5%;
  border: black solid 3px;
  border-radius: 10px;
}

.gamer img {
  margin-left: 13%;
  width: 50px;
  height: 50px;
}

